*{
    margin:0;
    padding: 0;
    font-family: 'Roboto';
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 3px 10px grey;
}

#promociones{
    background-color: #D1891C;
    padding: 0.5% 0.5% 0.5% 1.5%;
    width: 100%;
    font-weight: bolder;
    font-size: 1rem;
}

h1{
    background-color: #00669F;
    color: white;
    width: 100%;
    padding: 2% 0% 2% 1.5%;
    font-weight: bold;
    font-size: 2rem;
}

main{
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.card{
    width: 70%;
    border-radius: 1.7rem 1.7rem 0 0;
    margin:1.5%;
    text-align: center;
    background-color: #F3F3F3;
    box-shadow: 0 3px 10px grey;
}

.card-image{
    position:relative;
    top:-2.2rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}


.fa-heart{
    left: -40%;
    color: #CC2424;
    z-index: 20;
    position: relative;
    top: 0.5rem;
}

.foto{
    position: relative;
    width: 45%;
    border-radius: 100%;
    top: -10rem;
    z-index: 20;
}

.card div{
    position: relative;
    bottom: 9rem;
}

.card div h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.card div p{
    font-weight: 100;
    text-align: left;
    margin: 3% 4% 3% 4%;
}

#ver-mas{
    position: relative;
    top: 50px;
    padding: 5% 10%;
    background-color: #00669F;
    color: white;
    text-decoration: none;
}

#ver-mas:hover {
    text-decoration: underline;
}


footer{
    position: relative;
    top: 40vh;
    background-color: #00669F;
    color: white;
    padding: 1% 0 1% 1.5%;
    font-weight: bold;
    z-index: 200;
    text-align: center;
}

@media (min-width:750px){
    main{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .card{
        width: 45%;
    }

}








